:root {
  /* colors */
  --marble-white: #f5f5f5;
  --black: #232023;
  --imperial-gold: #ffd700;
  --red: red;
  --royalblue: #4169e1;
  --transparent: #dfddfd00;

  /* font-size */
  --text-font: 15px;
  --big-text-font: 25px;
  --h1-font: 35px;
  --h2-font: 25px;
}
