@import "./base.css";

/* global styles */
body {
  color: var(--marble-white);
  font-size: var(--text-font);
  margin: 0;
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hidden {
  visibility: hidden;
  padding: 0;
  height: 0;
  width: 0;
}

button {
  border: none;
  cursor: pointer;
  padding: 8px 20px 8px 20px;
  border-radius: 15px;
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: var(--h1-font);
  margin: 0;
  color: var(--imperial-gold);
}

h2 {
  margin: 0;
  font-size: var(--h2-font);
  color: var(--imperial-gold);
}

#app {
  background-color: var(--black);
  overflow-y: hidden;
}

textarea {
  font-size: var(--text-font);
  font-family: monospace;
  width: 350px;
  height: 200px;
  margin: 20px 0 20px 0;
  border-radius: 5px;
  padding: 5px;
}

select {
  font-family: "Caesar Dressing", system-ui;
  font-weight: 400;
  font-style: normal;
}

b {
  color: var(--royalblue);
}

.encryption-container,
.encrypyeted-text-container,
.decryption-container,
.decrypyeted-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto;
}

.encrypt-text,
.decrypt-text {
  background-color: var(--royalblue);
  color: var(--marble-white);
  font-size: var(--text-font);
}

.encrypt-text:hover {
  color: var(--imperial-gold);
}

.interactive-encryption-elements,
.interactive-decryption-elements {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  padding-bottom: 50px;
  gap: 60px;
}

.choose-encryption-key,
.choose-decryption-key {
  height: 34px;
  border-radius: 5px;
  background-color: var(--royalblue);
  color: var(--marble-white);
}

.encrypted-text,
.decrypted-text {
  width: 330px;
  text-wrap: wrap;
  word-wrap: break-word;
}

.error-message {
  color: var(--red);
  padding-bottom: 20px;
}

.copy-to-clipboard {
  background-color: var(--transparent);
  visibility: hidden;
  padding-left: 0;
}

.copy-to-clipboard-icon {
  width: 30px;
  height: 30px;
  fill: var(--marble-white);
}

.result-container {
  display: flex;
  align-items: center;
}

.success-message {
  background-color: var(--green);
  padding: 8px 10px 8px 10px;
  border-radius: 15px;
}

/*Media-Querie for smart phones*/
@media only screen and (max-width: 767px) {
  h1 {
    font-size: var(--h1-mobile-font);
  }

  h2 {
    font-size: var(--h2-mobile-font);
  }

  button {
    padding: 5px 9px 5px 9px;
  }

  textarea {
    width: 300px;
    height: 150px;
  }

  .interactive-encryption-elements,
  .interactive-decryption-elements {
    width: 75%;
    gap: 30px;
  }

  .encrypted-text,
  .decrypted-text {
    width: 275px;
  }
}

/*Media-Querie for tablets*/
@media only screen and (min-width: 768px) and (max-width: 1023px) {
}
