@import "./base.css";

button {
  border: none;
  cursor: pointer;
  padding: 5px 20px 5px 20px;
  border-radius: 15px;
}

h1 {
  font-size: 35px;
  margin: 0;
}

#app {
  background-color: var(--black);
}
